


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 20px; /* Ajustando o padding para incluir espaçamento interno */
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Inclui padding e border no tamanho total do footer */
  }

